{% extends 'base.html' %}
{% load ygol_filter_tag %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}


.NoNewline
{
word-break: keep-all;/*必须*/
white-space: nowrap;
}

.ace_editor.fullScreen {
    height: auto !important;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 19891016;
}

.fullScreen {
    overflow: hidden
}


#editor {
    margin: 0;
    position: relative;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="/static/template/css/chosen/chosen.min.css" rel="stylesheet"/>
{% endblock %}


{% block container %}
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
             <li><i class="fa fa-home"></i><a href="/"> Home</a></li>
             <li>业务管理</li>
             <li class="active">脚本管理</li>
        </ul>
    </div><!--breadcrumb-->

	<div class="padding-md">
		<div class="panel panel-default table-responsive">
                <div class="form-inline">
					<a role="button" id="add" type="button" class="btn btn-xs btn-info">
                        <i class="fa fa-plus"></i> 新增</a>
					<a href="#" role="button" data-toggle="modal" id="delete" type="button" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash-o"></i> 删除</a>
				</div>
            <div class="table-responsive">
				<table class="table table-hover table-bordered NoNewline" id="table"></table>
			</div><!-- /.padding-md -->
		</div><!-- /panel -->
        <div class="panel-body hide" id="add_script">
            <form class="form-horizontal" >
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 control-label">脚本名称</label>
                    <div class="col-lg-10">
                        <input name="id" class="hide">
                        <input type="email" class="form-control input-sm" name="name" placeholder="脚本名称">
                    </div><!-- /.col -->
                </div><!-- /form-group -->
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">脚本内容</label>
                    <div class="col-lg-10">
                        <label class="label-radio inline">
                            <input type="radio" name="script_type" value="shell" checked="checked">
                            <span class="custom-radio"></span>
                            shell
                        </label>
                        <label class="label-radio inline">
                            <input type="radio" name="script_type" value="python">
                            <span class="custom-radio"></span>
                            python
                        </label>
                        <select class="form-inline" id="font"></select>
                        <label class="label-radio inline">
                            字体
                        </label>
                        <label class="label-radio inline">
                            F11全屏切换(光标放在文本框里)
                        </label>
                        <pre id="editor"></pre>
                    </div><!-- /.col -->
                </div><!-- /form-group -->
            </form>
        </div>
	</div><!-- /padding-md -->
</div><!-- /main-container -->
{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src='/static/template/js/chosen.jquery.min.js'></script>
<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/plugins/ace/ext-themelist.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
  // 在这里写你的代码...
    init_font();
});
var shell_tmp = function () {/*
#!/bin/bash

anynowtime="date +'%Y-%m-%d %H:%M:%S'"
NOW="echo [\`$anynowtime\`][PID:$$]"

#####可在脚本开始运行时调用，打印当时的时间戳及PID。
function job_start
{
    echo "`eval $NOW` job_start"
}

#####可在脚本执行成功的逻辑分支处调用，打印当时的时间戳及PID。
function job_success
{
    MSG="$*"
    echo "`eval $NOW` job_success:[$MSG]"
    exit 0
}

#####可在脚本执行失败的逻辑分支处调用，打印当时的时间戳及PID。
function job_fail
{
    MSG="$*"
    echo "`eval $NOW` job_fail:[$MSG]"
    exit 1
}

job_start

######可在此处开始编写您的脚本逻辑代码
######作业平台中执行脚本成功和失败的标准只取决于脚本最后一条执行语句的返回值
######如果返回值为0，则认为此脚本执行成功，如果非0，则认为脚本执行失败

*/};

var python_tmp = function () {/*
#!/usr/bin/env python
# -*- coding: utf8 -*-

import datetime
import os
import sys

def _now(format="%Y-%m-%d %H:%M:%S"):
    return datetime.datetime.now().strftime(format)

#####可在脚本开始运行时调用，打印当时的时间戳及PID。
def job_start():
    print "[%s][PID:%s] job_start" % (_now(), os.getpid())

#####可在脚本执行成功的逻辑分支处调用，打印当时的时间戳及PID。
def job_success(msg):
    print "[%s][PID:%s] job_success:[%s]" % (_now(), os.getpid(), msg)
    sys.exit(0)

#####可在脚本执行失败的逻辑分支处调用，打印当时的时间戳及PID。
def job_fail(msg):
    print "[%s][PID:%s] job_fail:[%s]" % (_now(), os.getpid(), msg)
    sys.exit(1)

if __name__ == '__main__':

    job_start()

######可在此处开始编写您的脚本逻辑代码
######iJobs中执行脚本成功和失败的标准只取决于脚本最后一条执行语句的返回值
######如果返回值为0，则认为此脚本执行成功，如果非0，则认为脚本执行失败

*/};

//定义一个实现多行字符串的函数multiline
var multiline = function (fn) {
    var str = fn.toString().split('\n');
    return str.slice(1, str.length - 1 ).join('\n');
};


/*
*等待页面所有图片、js文件加载完再执行，否则ace执行失败
*/
$(window).load(function() {
    var dom = require("ace/lib/dom");

    //add command to all new editor instaces
    require("ace/commands/default_commands").commands.push({
        name: "Toggle Fullscreen",
        bindKey: "F11",
        exec: function(editor) {
            var fullScreen = dom.toggleCssClass(document.body, "fullScreen");
            dom.setCssClass(editor.container, "fullScreen", fullScreen);
            editor.setAutoScrollEditorIntoView(!fullScreen);
            editor.resize()
        }
    });

    // create first editor
    editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/sh");
    editor.renderer.setScrollMargin(10, 10);
    editor.setOptions({
        // "scrollPastEnd": 0.8,
        autoScrollEditorIntoView: true
    });
    //设置字体
    document.getElementById('editor').style.fontSize='18px';
    //语法补全
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
    //默认shell
    editor.setValue(multiline(shell_tmp));
    editor.gotoLine(1);
});


/*
*初始化字体选择项
*/
function init_font() {
    for (var i=12;i<23;i++)
    {
        var cont = "<option value='"+ i +"'>"+ i +"</option>";
        $('#font').append(cont);
    }
    $('#font').val('18');
}
$('#font').change(function () {
    var font_val = $(this).val() + 'px';
    document.getElementById('editor').style.fontSize=font_val;
    console.log($(this).val())
});

/*
*脚本类型、模板选择
*/
$("input:radio[name='script_type']").click(function () {
    var val = $(this).val();
    if (val=='shell'){
        editor.setValue(multiline(shell_tmp));
        editor.session.setMode("ace/mode/sh");
    }
   else {
        editor.setValue(multiline(python_tmp));
        editor.session.setMode("ace/mode/python");
    }
    editor.gotoLine(1);
});


//得到查询的参数
function queryParams(params) {
    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        limit: params.limit,   //页面大小
        offset: params.offset,  //页码
        order: params.order,  //排序
        time: $('#time').val(),
        orderNum: $('#orderNum').val(),
        createTime_start: $('#createTime_start').val(),
        createTime_end: $('#createTime_end').val(),
        database: "ygproperty",
    };
    return temp;
}


/*
*初始化表格
*/
var option = $('#table').bootstrapTable({
    url: '/business/get_account/',
    pagination: true,                   //是否显示分页（*）
    sortable: false,                     //是否启用排序
    sortOrder: "asc",                   //排序方式
    showColumns: true,
    clickToSelect: true,
    uniqueId: "id",
    queryParams: queryParams,           //传递参数（*）
    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
    pageNumber: 1,                       //初始化加载第一页，默认第一页
    pageSize: 10,                       //每页的记录行数（*）
    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
    search: true,                  //是否显示搜索 --前端搜索
    columns:get_columns()
});


/*
*获取bootstraptable 的列columns
*/
function get_columns() {
    var columns =[{
         field: 'checkbox',
         checkbox: true
    },{
        title: '序号',//标题  可不加
        formatter: function (value, row, index) {
            return index+1;
            }
    }, {
        field: 'id',
        title: 'ID',
        visible: false
    }, {
        field: 'name',
        title: '账号名称',
        formatter: subjectFormatter
    }, {
        field: 'desc',
        title: '描述'
    }, {
        field: 'creater',
        title: '创建人'
    }, {
        field: 'createTime',
        title: '创建时间'
    }, {
        field: 'ModifyUser',
        title: '修改人'
    }, {
        field: 'ModifyTime',
        title: '修改时间'
    }];
    return columns
}


/*
*超链接显示收件人
*/
function receiversFormatter(value, row, index) {
    return [
        '<div class="text-overflow"><a href="#">',
        value,
        '</a></div>'
    ].join('');
}


/*
*超链接显示邮件标题
*/
function subjectFormatter(value, row, index) {
    return [
        "<div><a href='#' role='button' data-toggle='modal' onclick="+ '"' +"edit("
        + row.id + ",'" + row.name + "','" + row.desc +
        "')"+ '"' +" class='mod'>",
        value,
        '</a></div>'
    ].join('');
}


/*
*新增
*/
function add() {
    var name = $('#add_script').find("input[name='name']").val();
    var desc = $('#add_script').find("textarea[name='desc']").val();
    var data = {'name': name, 'desc': desc};
    var url = '/business/add_script/';
    var index = layer.load();
    $.post(url, data, function (msg) {
        var _msg = $.parseJSON(msg);
        layer.close(index);
        layer.msg(_msg);
        $('#table').bootstrapTable('refresh');
    });
}


/*
*新增
*/
$('#add').click(function () {
    $('#add_script').find("input[name='id']").val("");
    $('#add_script').find("input[name='name']").val("");
    $('#add_script').find("textarea[name='desc']").val("");
    $('#add_script').removeClass('hide');
    //页面层
    layer.open({
      type: 1,
      skin: 'layui-layer-rim', //加上边框
      area: ['820px', '540px'], //宽高
      content: $('#add_script')
      ,btn: ['save', 'close']
  ,yes: function(index1, layero){
        add(); //新增
        layer.close(index1);
  }
  ,btn2: function(index, layero){
    //return false 开启该代码可禁止点击该按钮关闭
  }
  ,cancel: function(){
    //右上角关闭回调
  }
    });
});





/*
*删除
*/
$('#delete').click(function () {
    var _delete = [];
    var Total_data = $('#table').bootstrapTable('getData');
    $.each(Total_data, function (k, v) {
        if (v.checkbox){
            _delete.push(v.id)
        }
    });
    var url = '/business/delete_account/';
    var data = {'data': JSON.stringify(_delete)};
    //询问框
    layer.confirm('确认删除吗？', {
      btn: ['确定','取消'] //按钮
    }, function () {
            var index = layer.load();
            $.post(url, data, function (msg) {
                var _msg = $.parseJSON(msg);
                layer.close(index);
                layer.msg(_msg);
                $('#table').bootstrapTable('refresh');
            });
        }
    );
});


/*
*提交编辑的数据
*/
function post_edit() {
    var id = $('#add_script').find("input[name='id']").val();
    var name = $('#add_script').find("input[name='name']").val();
    var desc = $('#add_script').find("textarea[name='desc']").val();
    var url = '/business/edit_account/';
    var data = {'id': id, 'name':name, 'desc':desc};
    var index = layer.load();
    $.post(url, data, function (msg) {
        var _msg = $.parseJSON(msg);
        layer.close(index);
        layer.msg(_msg);
        $('#table').bootstrapTable('refresh');
    });
}


/*
*编辑服务器
*/
function edit(id,name,desc) {
    $('#add_script').find("input[name='id']").val(id);
    $('#add_script').find("input[name='name']").val(name);
    $('#add_script').find("textarea[name='desc']").val(desc);
    $('#add_script').removeClass('hide');
    //页面层
    layer.open({
      type: 1,
      skin: 'layui-layer-rim', //加上边框
      area: ['420px', '240px'], //宽高
      content: $('#add_script')
      ,btn: ['save', 'close']
      ,yes: function(index1, layero){
            post_edit(); //编辑
            layer.close(index1);
      }
      ,btn2: function(index, layero){
        //return false 开启该代码可禁止点击该按钮关闭
      }
      ,cancel: function(){
        //右上角关闭回调
      }
    });
}


/*
*提交编辑服务器的数据
*/
$('#edit_server').find("button[name='save']").click(function () {
    var id = $('#edit_server').find("input[name='id']").val();
    var ip = $('#edit_server').find("input[name='ip']").val();
    var desc = $('#edit_server').find("textarea[name='desc']").val();
    var url = '/cmdb/edit_server/';
    var data = {'id':id, 'ip':ip, 'desc':desc};
    var index = layer.load();
    $.post(url, data, function (msg) {
        var _msg = $.parseJSON(msg);
        layer.close(index);
        layer.msg(_msg);
        $('#table').bootstrapTable('refresh');
    });
});


/*
*ajax get callback
*/
function ajax_callback1(msg){
    var index = layer.alert(msg, {
        skin: 'layui-layer-molv' //样式类名
    },function(){
       layer.close(index)
    });
}
</script>
{% endblock %}