{% extends 'base.html' %}
{% load ygol_filter_tag %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}


.NoNewline
{
word-break: keep-all;/*必须*/
white-space: nowrap;
}


.ace_editor.fullScreen {
    height: auto !important;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.fullScreen {
    overflow: hidden
}

#editor {
    margin: 0;
    position: relative;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="/static/template/css/chosen/chosen.min.css" rel="stylesheet"/>
{% endblock %}


{% block container %}
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
             <li><i class="fa fa-home"></i><a href="/"> Home</a></li>
             <li>作业平台</li>
             <li class="active">快速分发文件</li>
        </ul>
    </div><!--breadcrumb-->

	<div class="padding-md">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 control-label">任务名称</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control input-sm" id="task_name" placeholder="name">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">源文件</label>
                                <div class="col-lg-10">
                                    <input id='file' type="file"  name="file" style="padding-left: 0px;" class="col-lg-4" multiple="multiple">
                                    <button type="button" id="delete_file" class="btn btn-success btn-xs">删除</button>
                                    <span>（同名文件覆盖，文件大小不要超过500M）</span>
                                    <div class="table-responsive" id="table_selected_div">
                                        <table class="table table-hover table-bordered NoNewline" id="table_selected_file"></table>
                                    </div><!-- /.padding-md -->
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">目标路径</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="fileTargetPath" placeholder="path">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">执行账户</label>
                                <div class="col-lg-10">
									<select id="account" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">目标机器</label>
                                <div class="col-lg-10">
									<button type="button" id="add_server" class="btn btn-success btn-sm">选择服务器</button>
                                    <button type="button" id="delete" class="btn btn-success btn-sm">删除</button>
                                    <div class="table-responsive" id="table_selected_div">
                                        <table class="table table-hover table-bordered NoNewline" id="table_selected"></table>
                                    </div><!-- /.padding-md -->
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">超时时间</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="scriptTimeout" placeholder="para" value="1000">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="button" id="run_script" class="btn btn-success btn-sm">run</button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
	</div><!-- /padding-md -->
</div><!-- /main-container -->
<div class="table-responsive hide" id="table_choice_div">
    <table class="table table-hover table-bordered NoNewline" id="table_choice"></table>
</div><!-- /.padding-md -->

{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src='/static/template/js/chosen.jquery.min.js'></script>
<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/plugins/ace/ext-themelist.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
  // 在这里写你的代码...
    init_account();
});


/*
*上传文件
*/
$("#file").change(function () {
    var files = $('#file')[0].files;
    add_table_file(files);
    $.each(files, function (k, file) {
        upload_file(file);
    });
});


/*
*将需要上传的文件添加到文件表格
*/
function add_table_file(files) {
    var selected_data = $('#table_selected_file').bootstrapTable('getData');
    var selected_id = [];
    $.each(selected_data, function (sk, selected_v) {
        selected_id.push(selected_v.name);
    });
    $.each(files, function (k, file) {
        var data = {'name': file.name, 'size': file.size, 'lastModified': file.lastModified,
                    'progress': 0, 'percent': 0, 'id': k};
        if (selected_id.indexOf(file.name) == -1){
            $('#table_selected_file').bootstrapTable('append', data);
        }
    });
}


/*
*上传文件到salt master服务器
*/
function upload_file(file) {
    var formData = new FormData();
    formData.append('file', file);
    var index = layer.load();
	$.ajax({
			url: '/job/fastPushfile_upload_file/',
			type: 'POST',
			cache: false,
			data: formData,
			processData: false,
			contentType: false,
            xhr: function(){
                myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){
                  myXhr.upload.addEventListener('progress',function(e) {
                    if (e.lengthComputable) {
                        var percent = Math.floor(e.loaded/e.total*100);
                        var progress = percent + '%';
                        var data = $('#table_selected_file').bootstrapTable('getData');
                        $.each(data, function (k, v) {
                            if (v.name == file.name){
                                $('#table_selected_file').bootstrapTable('updateCell', {index: k, field: 'progress', value: percent});
                                $('#table_selected_file').bootstrapTable('updateCell', {index: k, field: 'percent', value: percent});
                            }
                        });
                    }
                  }, false);
                }
                return myXhr;
            },
            success: function (res) {
                layer.close(index);
                var data = $('#table_selected_file').bootstrapTable('getData');
                    resfile = $.parseJSON(res);
                    console.log(resfile)
                ajax_callback1('上传成功')
            }
		})
}



//定义一个实现多行字符串的函数multiline
var multiline = function (fn) {
    var str = fn.toString().split('\n');
    return str.slice(1, str.length - 1 ).join('\n');
};



/*
*初始化账户
*/
function init_account() {
    var url = '/business/get_account/';
    var index = layer.load();
    $.post(url, function (data) {
        var _data = $.parseJSON(data);
        var cont0 = "<option value=''>请选择</option>";
        $('#account').append(cont0);
        $.each(_data, function (k,v) {
            var cont = "<option value='"+ v.name +"'>"+ v.name + " " + v.desc +"</option>";
            $('#account').append(cont);
        });
        $("#account").chosen();
        layer.close(index);
    });
}


/*
*执行
*/
$('#run_script').click(function () {
    var data = get_data();
    var jdata = JSON.stringify(data);
    var url = '/job/run_fastPushfile/';
    console.log(data)
{#    var index = layer.load();#}
    $.post(url, {'data': jdata}, function (res) {
        var _data = $.parseJSON(res);
        console.log(res)
        if (_data.status==1){
            var msg = _data.msg.join('<br>');
            ajax_callback1(msg);
        }
{#        layer.close(index);#}
    });
});


function get_data() {
    var task_name = $('#task_name').val();
    var account = $('#account').val();
    var server_data = $('#table_selected').bootstrapTable('getData');
    var files = $('#table_selected_file').bootstrapTable('getData');
    var fileTargetPath = $('#fileTargetPath').val();
    var scriptTimeout = $('#scriptTimeout').val();

    var ipList = [];
    $.each(server_data, function (k, v) {
        ipList.push(v.ip)
    });
    var fileSource = [];
    $.each(files, function (k, file) {
        fileSource.push(file)
    });
    var data = {
        'task_name': task_name,
        'fileSource': fileSource,
        'fileTargetPath': fileTargetPath,
        'account': account,
        'ipList': ipList,
        'scriptTimeout': scriptTimeout,
    };
    return data
}


//得到查询的参数
function queryParams(params) {
    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        limit: params.limit,   //页面大小
        offset: params.offset,  //页码
        order: params.order,  //排序
        time: $('#time').val(),
        orderNum: $('#orderNum').val(),
        createTime_start: $('#createTime_start').val(),
        createTime_end: $('#createTime_end').val(),
        database: "ygproperty",
    };
    return temp;
}


/*
*初始化服务器选择表格
*/
function init_server_choice() {
    $('#table_choice').bootstrapTable({
        url: '/cmdb/get_index/',
        pagination: true,                   //是否显示分页（*）
        sortable: false,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        showColumns: true,
        showRefresh: true,
        clickToSelect: true,
        uniqueId: "id",
        queryParams: queryParams,           //传递参数（*）
        sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
        search: true,                  //是否显示搜索 --前端搜索
        columns:get_columns()
    });
}


/*
*初始化文件表格
*/
$('#table_selected_file').bootstrapTable({
    pagination: true,                   //是否显示分页（*）
    sortable: false,                     //是否启用排序
    sortOrder: "asc",                   //排序方式
    showColumns: true,
    showRefresh: true,
    clickToSelect: true,
    uniqueId: "id",
    queryParams: queryParams,           //传递参数（*）
    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
    pageNumber: 1,                       //初始化加载第一页，默认第一页
    pageSize: 5,                       //每页的记录行数（*）
    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
    search: true,                  //是否显示搜索 --前端搜索
    columns:get_file_columns()
});


/*
*获取文件表格 的列columns
*/
function get_file_columns() {
    var columns =[{
         field: 'checkbox',
         checkbox: true
    },{
        title: '序号',//标题  可不加
        formatter: function (value, row, index) {
            return index+1;
            }
    }, {
        field: 'id',
        title: 'id',
        visible: false
    }, {
        field: 'name',
        title: 'name'
    }, {
        field: 'size',
        title: 'size',
        formatter: sizeFormatter
    }, {
        field: 'lastModified',
        title: 'lastModified',
        formatter: lastModifieldFormatter
    }, {
        field: 'progress',
        title: 'Progress',
        formatter: ProgressFormatter
    }, {
        field: 'percent',
        title: '',
        formatter: percentFormatter
    }];
    return columns
}


/*
*将已选的服务器添加到已选表格
*/
$('#table_selected').bootstrapTable({
    pagination: true,                   //是否显示分页（*）
    sortable: false,                     //是否启用排序
    sortOrder: "asc",                   //排序方式
    showColumns: true,
    showRefresh: true,
    clickToSelect: true,
    uniqueId: "id",
    queryParams: queryParams,           //传递参数（*）
    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
    pageNumber: 1,                       //初始化加载第一页，默认第一页
    pageSize: 5,                       //每页的记录行数（*）
    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
    search: true,                  //是否显示搜索 --前端搜索
    columns:get_columns()
});


/*
*获取服务器列表 的列columns
*/
function get_columns() {
    var columns =[{
         field: 'checkbox',
         checkbox: true
    },{
        title: '序号',//标题  可不加
        formatter: function (value, row, index) {
            return index+1;
            }
    }, {
        field: 'id',
        title: 'ID',
        visible: false
    }, {
        field: 'ip',
        title: '服务器IP地址'
    }, {
        field: 'desc',
        title: '描述'
    }, {
        field: 'creater',
        title: '创建人'
    }, {
        field: 'createTime',
        title: '创建时间'
    }, {
        field: 'ModifyUser',
        title: '修改人'
    }, {
        field: 'ModifyTime',
        title: '修改时间'
    }];
    return columns
}


/*
*添加服务器到已选表格里
*/
function add() {
    var choice_data = $('#table_choice').bootstrapTable('getSelections');
    var selected_data = $('#table_selected').bootstrapTable('getData');
    var selected_id = [];
    $.each(selected_data, function (sk, selected_v) {
        selected_id.push(selected_v.id);
    });
    $.each(choice_data, function (k, choice_v) {
        if (selected_id.indexOf(choice_v.id) == -1){
            $('#table_selected').bootstrapTable('append', choice_v);
        }
    });
}


/*
*新增
*/
$('#add_server').click(function () {
    init_server_choice();
     $('#table_choice_div').removeClass('hide');
    //页面层
    layer.open({
      type: 1,
      skin: 'layui-layer-rim', //加上边框
      area: ['820px', '540px'], //宽高
      content: $('#table_choice_div')
      ,btn: ['add', 'close']
  ,yes: function(index1, layero){
        add(); //新增
        layer.close(index1);
  }
  ,btn2: function(index, layero){
    //return false 开启该代码可禁止点击该按钮关闭
  }
  ,cancel: function(){
    //右上角关闭回调
  }
    });
});


/*
*删除文件
*/
$('#delete_file').click(function () {
        var names = $.map($('#table_selected_file').bootstrapTable('getSelections'), function (row) {
            return row.name;
        });
        $('#table_selected_file').bootstrapTable('remove', {
            field: 'name',
            values: names
        });
});


/*
*删除机器
*/
$('#delete').click(function () {
    var data = $('#table_selected').bootstrapTable('getSelections');
    $.each(data, function (sk, v) {
        $('#table_selected').bootstrapTable('removeByUniqueId', v.id);
    });
});


/*
*格式化文件大小
*/
function sizeFormatter(limit){
    var size = "";
    if( limit < 0.1 * 1024 ){ //如果小于0.1KB转化成B
        size = limit.toFixed(2) + "B";
    }else if(limit < 0.1 * 1024 * 1024 ){//如果小于0.1MB转化成KB
        size = (limit / 1024).toFixed(2) + "KB";
    }else if(limit < 0.1 * 1024 * 1024 * 1024){ //如果小于0.1GB转化成MB
        size = (limit / (1024 * 1024)).toFixed(2) + "MB";
    }else{ //其他转化成GB
        size = (limit / (1024 * 1024 * 1024)).toFixed(2) + "GB";
    }

    var sizestr = size + "";
    var len = sizestr.indexOf("\.");
    var dec = sizestr.substr(len + 1, 2);
    if(dec == "00"){//当小数点后为00时 去掉小数部分
        return sizestr.substring(0,len) + sizestr.substr(len + 3,2);
    }
    return sizestr;
}


/*
*格式化文件修改时间
*/
function lastModifieldFormatter(value, row, index) {
    return timetrans(value);
}


/*
*时间转换
*/
function timetrans(date){
    var date = new Date(date);//如果date为13位不需要乘1000
    var Y = date.getFullYear() + '-';
    var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
    var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
    var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
    var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
    var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
    return Y+M+D+h+m+s;
}

/*
*进度条格式化
*/
function ProgressFormatter(value, row, index) {
    var cont = ['<div class="progress" style="height:12px; margin:5px 0 0 0;">',
                            '<div class="progress-bar" name="progress" style="width: ', value+'%', '">',
                            '</div>',
                        '</div>'
                ].join('');
    return cont
}


/*
*百分比格式化
*/
function percentFormatter(value, row, index) {
    var cont = ['<div name="percent">',
                    value + '%',
                '</div>'
                ].join('');
    return cont
}


/*
*ajax get callback
*/
function ajax_callback1(msg){
    var index = layer.alert(msg, {
        skin: 'layui-layer-molv' //样式类名
    },function(){
       layer.close(index)
    });
}
</script>
{% endblock %}