{% extends 'base.html' %}
{% load ygol_filter_tag %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}


.NoNewline
{
word-break: keep-all;/*必须*/
white-space: nowrap;
}


.ace_editor.fullScreen {
    height: auto !important;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.fullScreen {
    overflow: hidden
}

.editor {
    margin: 0;
    position: relative;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.oneline {
    width:100px;
    overflow:hidden;
    white-space:nowrap;
    ext-overflow:ellipsis;
}

.pointer{
cursor:pointer;
}
</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="/static/template/css/chosen/chosen.min.css" rel="stylesheet"/>
{% endblock %}


{% block container %}
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
             <li><i class="fa fa-home"></i><a href="/"> Home</a></li>
             <li>作业平台</li>
             <li class="active">新建作业</li>
        </ul>
    </div><!--breadcrumb-->

	<div class="padding-md">
        <div class="row"><div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 control-label">作业名称</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" id="taskName" placeholder="name">
                            </div><!-- /.col -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group alert alert-success">
                                <label for="inputEmail1" class="col-lg-2 control-label">步骤名称</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control input-sm" name="blockName">
                                </div><!-- /.col -->
                                <label for="inputEmail1" class="col-lg-2 control-label">执行脚本</label>
                                <div class="col-lg-3">
                                    <button type="button" name="blockUp" class="btn btn-info btn-xs">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button type="button" name="blockDown" class="btn btn-info btn-xs">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                    <button type="button" name="blockDelete" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                    <button type="button" name="blockCut" class="btn btn-danger btn-xs">
                                        <i class="fa fa-scissors"></i>
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                        <form class="form-horizontal alert alert-warning" data-name="ord1">
                            <div class="form-group">
                                <label for="scriptLabel" class="col-lg-2 control-label pointer">脚本</label>
                                <div class="col-lg-3">
                                    <select name="script" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                                <div class="col-lg-2 oneline pointer"><!-- 缩略脚本参数 -->
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="col-lg-2">
                                    <span></span>
                                    <span></span>
                                </div><!-- 缩略账号 -->
                                <div class="col-lg-3">
                                    <button type="button" id="run_script" class="btn btn-default btn-xs">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button type="button" id="run_script" class="btn btn-default btn-xs">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                    <button type="button" id="run_script" class="btn btn-default btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="account" class="col-lg-2 control-label">执行账户</label>
                                <div class="col-lg-10">
									<select name="account" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">目标机器</label>
                                <div class="col-lg-10">
									<button type="button" data-name="add_server" class="btn btn-success btn-sm">选择服务器</button>
                                    <button type="button" data-name="delete" class="btn btn-success btn-sm">删除</button>
                                    <div class="table-responsive" id="table_selected_div">
                                        <table class="table table-hover table-bordered NoNewline" data-name="table_selected"></table>
                                    </div><!-- /.padding-md -->
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本内容</label>
                                <div class="col-lg-10">
                                    <label class="label-radio inline">
										<input type="radio" name="script_type" value="1" checked="checked">
										<span class="custom-radio"></span>
										shell
									</label>
									<label class="label-radio inline">
										<input type="radio" name="script_type" value="4">
										<span class="custom-radio"></span>
										python
									</label>
                                    <select class="form-inline" name="font"></select>
                                    <label class="label-radio inline">
										字体
									</label>
                                    <label class="label-radio inline">
										ESC键退出全屏
									</label>
                                    <button type="button" name="fullScreen" class="btn btn-default btn-xs">
                                        <i class="fa fa-crosshairs"></i> 全屏
                                    </button>
                                    <pre id="editor1" class="editor"></pre>
								</div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本参数</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="scriptParam" placeholder="para">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">超时时间</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="scriptTimeout" placeholder="para" value="1000">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-offset-1 col-lg-2">
                                    <button type="button" data-name="addOrd" class="btn btn-default btn-sm">
                                        <i class="fa fa-plus"></i> 新增节点
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group alert alert-info">
                                <label for="inputEmail1" class="col-lg-2 control-label">步骤名称</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control input-sm" name="script_type">
                                </div><!-- /.col -->
                                <label for="inputEmail1" class="col-lg-2 control-label">文件分发</label>
                                <div class="col-lg-3">
                                    <button type="button" id="run_script" class="btn btn-info btn-xs">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button type="button" id="run_script" class="btn btn-info btn-xs">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                    <button type="button" id="run_script" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                        {% comment %}<form class="form-horizontal alert alert-warning">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 control-label">脚本</label>
                                <div class="col-lg-3">
                                    <select id="script" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                                <label for="inputEmail1" class="col-lg-2 control-label">账户：administrator</label>
                                <label for="inputEmail1" class="col-lg-2 control-label">参数：<abbr title="/tmp/log/Yin">attr</abbr></label>
                                <div class="col-lg-3">
                                    <button type="button" id="run_script" class="btn btn-default btn-xs">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button type="button" id="run_script" class="btn btn-default btn-xs">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                    <button type="button" id="run_script" class="btn btn-default btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">执行账户</label>
                                <div class="col-lg-10">
									<select id="account" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">目标机器</label>
                                <div class="col-lg-10">
									<button type="button" id="add_server" class="btn btn-success btn-sm">选择服务器</button>
                                    <button type="button" id="delete" class="btn btn-success btn-sm">删除</button>
                                    <div class="table-responsive" id="table_selected_div">
                                        <table class="table table-hover table-bordered NoNewline" id="table_selected"></table>
                                    </div><!-- /.padding-md -->
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本内容</label>
                                <div class="col-lg-10">
                                    <label class="label-radio inline">
										<input type="radio" name="script_type" value="1" checked="checked">
										<span class="custom-radio"></span>
										shell
									</label>
									<label class="label-radio inline">
										<input type="radio" name="script_type" value="4">
										<span class="custom-radio"></span>
										python
									</label>
                                    <select class="form-inline" id="font"></select>
                                    <label class="label-radio inline">
										字体
									</label>
                                    <label class="label-radio inline">
										ESC键全屏切换(光标放在文本框里)
									</label>
                                    <pre id="editor"></pre>
								</div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本参数</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="scriptParam" placeholder="para">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">超时时间</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="scriptTimeout" placeholder="para" value="1000">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>{% endcomment %}
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-offset-1 col-lg-2">
                                    <button type="button" id="run_script" class="btn btn-default btn-sm">
                                        <i class="fa fa-plus"></i> 新增节点
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-offset-1 col-lg-2">
                                    <button type="button" id="run_script" class="btn btn-info btn-sm">
                                        <i class="fa fa-plus"></i> 新增步骤
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-lg-2">
                                    <button type="button" id="run_script" class="btn btn-primary btn-sm">
                                        <i class="fa fa-floppy-o"></i> SAVE
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
	</div><!-- /padding-md -->
</div><!-- /main-container -->
<div id="ordTemplate" class="">
    <form class="form-horizontal alert alert-warning" data-name="ord">
    <div class="form-group">
        <label for="scriptLabel" class="col-lg-2 control-label pointer">脚本</label>
        <div class="col-lg-3">
            <select name="script" class="form-control chzn-select"></select>
        </div><!-- /.col -->
        <div class="col-lg-2 oneline pointer"><!-- 缩略脚本参数 -->
            <span></span>
            <span></span>
        </div>
        <div class="col-lg-2">
            <span></span>
            <span></span>
        </div><!-- 缩略账号 -->
        <div class="col-lg-3">
            <button type="button" id="run_script" class="btn btn-default btn-xs">
                <i class="fa fa-arrow-up"></i>
            </button>
            <button type="button" id="run_script" class="btn btn-default btn-xs">
                <i class="fa fa-arrow-down"></i>
            </button>
            <button type="button" id="run_script" class="btn btn-default btn-xs">
                <i class="fa fa-trash-o"></i>
            </button>
        </div><!-- /.col -->
    </div><!-- /form-group -->
    <div class="form-group">
        <label for="account" class="col-lg-2 control-label">执行账户</label>
        <div class="col-lg-10">
            <select name="account" class="form-control chzn-select"></select>
        </div><!-- /.col -->
    </div><!-- /form-group -->
    <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">目标机器</label>
        <div class="col-lg-10">
            <button type="button" data-name="add_server" class="btn btn-success btn-sm">选择服务器</button>
            <button type="button" data-name="delete" class="btn btn-success btn-sm">删除</button>
            <div class="table-responsive" id="table_selected_div">
                <table class="table table-hover table-bordered NoNewline" data-name="table_selected"></table>
            </div><!-- /.padding-md -->
        </div><!-- /.col -->
    </div><!-- /form-group -->
    <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">脚本内容</label>
        <div class="col-lg-10">
            <label class="label-radio inline">
                <input type="radio" name="script_type" value="1" checked="checked">
                <span class="custom-radio"></span>
                shell
            </label>
            <label class="label-radio inline">
                <input type="radio" name="script_type" value="4">
                <span class="custom-radio"></span>
                python
            </label>
            <select class="form-inline" name="font"></select>
            <label class="label-radio inline">
                字体
            </label>
            <label class="label-radio inline">
                ESC键退出全屏
            </label>
            <button type="button" name="fullScreen" class="btn btn-default btn-xs">
                <i class="fa fa-crosshairs"></i> 全屏
            </button>
            <pre id="editor2" class="editor"></pre>
        </div><!-- /.col -->
    </div><!-- /form-group -->
    <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">脚本参数</label>
        <div class="col-lg-10">
            <input type="text" class="form-control input-sm" id="scriptParam" placeholder="para">
        </div><!-- /.col -->
    </div><!-- /form-group -->
    <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">超时时间</label>
        <div class="col-lg-10">
            <input type="text" class="form-control input-sm" id="scriptTimeout" placeholder="para" value="1000">
        </div><!-- /.col -->
    </div><!-- /form-group -->
</form>
</div>
<div class="table-responsive hide" id="table_choice_div">
    <table class="table table-hover table-bordered NoNewline" id="table_choice"></table>
</div><!-- /.padding-md -->

{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src='/static/template/js/chosen.jquery.min.js'></script>
<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/plugins/ace/ext-themelist.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/lol.js" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
  // 在这里写你的代码...
  $("#para").mouseenter(function(){
    var text = $(this).children().text();
    //tips层-上
    layer.tips(text, $(this), {
      tips: [1, '#0FA6D8'] //还可配置颜色
    });
  });
    $("#para").mouseleave(function(){
        layer.closeAll()
  });
});


/**
 * 等待页面所有图片、js文件加载完再执行，否则ace执行失败
 */
$(window).load(function() {
    initFont($('#main-container').find("select[name='font']"));
    init_account($('#main-container').find("select[name='account']"));
    initEditorAction($('#main-container').find("pre[id^='editor']"));
    init_script($('#main-container').find("select[name='script']"));
    initTableSelected($('#main-container').find("table[data-name='table_selected']"));
    initAddOrd();
});


/**
 * 设置脚本
 */
$('body').on('change', '#script', function() {
    var url = '/business/get_edit_script/';
    var script_id = $('#script').val();
    $.post(url,{'id': script_id}, function (res) {
        var _data = $.parseJSON(res);
        $('#script_name').val(_data.name);
        editor.setValue(_data.content);
        if (_data.TYPE=='1'){
            editor.session.setMode("ace/mode/sh");
        }
        else {
            editor.session.setMode("ace/mode/python");
        }
        editor.gotoLine(1);
        editor.setReadOnly(true);
        $("input:radio[name='script_type'][value='"+ _data.TYPE +"']").prop("checked", "checked");
    });
});


/**
 * 运行脚本
 */
$('#run_script').click(function () {
    var data = get_data();
    var jdata = JSON.stringify(data);
    var url = '/job/run_script/';
{#    var index = layer.load();#}
    $.post(url, {'data': jdata}, function (res) {
        var _data = $.parseJSON(res);
        if (_data.status==1){
            var msg = _data.msg.join('<br>');
            ajax_callback1(msg);
        }
{#        layer.close(index);#}
    });
});


function get_data() {
    var script_id = $('#script').val();
    var account = $('#account').val();
    var server_data = $('#table_selected').bootstrapTable('getData');
    var content = editor.getValue();
    var scriptParam = $('#scriptParam').val();
    var scriptTimeout = $('#scriptTimeout').val();
    var script_type = $("input:radio[name='script_type']:checked").val();

    var ipList = [];
    $.each(server_data, function (k, v) {
       ipList.push(v.ip)
    });
    var data = {
        'script_id': script_id,
        'account': account,
        'content': content,
        'ipList': ipList,
        'scriptParam': scriptParam,
        'scriptTimeout': scriptTimeout,
        'script_type': script_type
    };
    return data
}


//得到查询的参数
{% comment %}function queryParams(params) {
    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        limit: params.limit,   //页面大小
        offset: params.offset,  //页码
        order: params.order,  //排序
        time: $('#time').val(),
        orderNum: $('#orderNum').val(),
        createTime_start: $('#createTime_start').val(),
        createTime_end: $('#createTime_end').val(),
        database: "ygproperty",
    };
    return temp;
}{% endcomment %}






















/*
*脚本类型、模板选择
*/
{% comment %}$("input:radio[name='server']").click(function () {
    var val = $(this).val();
    if (val=='show_all'){
        $('#table_selected').bootstrapTable('getRowsHidden',{show:true});
    }

   else if (val=='no_selected') {
        var data = $('#table_selected').bootstrapTable('getSelections');
        $.each(data,function (k,v) {
            $('#table_selected').bootstrapTable('hideRow', {uniqueId: v.id})
        });

    }
    else {
        var all_data = $('#table_selected').bootstrapTable('getData');
        $.each(all_data,function (k,v) {
            $('#table_selected').bootstrapTable('hideRow', {uniqueId: v.id})
        });
    }
});{% endcomment %}





/*
*提交编辑的数据
*/
function post_edit() {
    var id = $('#add_account').find("input[name='id']").val();
    var name = $('#add_account').find("input[name='name']").val();
    var desc = $('#add_account').find("textarea[name='desc']").val();
    var url = '/business/edit_account/';
    var data = {'id': id, 'name':name, 'desc':desc};
    var index = layer.load();
    $.post(url, data, function (msg) {
        var _msg = $.parseJSON(msg);
        layer.close(index);
        layer.msg(_msg);
        $('#table').bootstrapTable('refresh');
    });
}


/*
*编辑服务器
*/
function edit(id,name,desc) {
    $('#add_account').find("input[name='id']").val(id);
    $('#add_account').find("input[name='name']").val(name);
    $('#add_account').find("textarea[name='desc']").val(desc);
    $('#add_account').removeClass('hide');
    //页面层
    layer.open({
      type: 1,
      skin: 'layui-layer-rim', //加上边框
      area: ['420px', '240px'], //宽高
      content: $('#add_account')
      ,btn: ['save', 'close']
      ,yes: function(index1, layero){
            post_edit(); //编辑
            layer.close(index1);
      }
      ,btn2: function(index, layero){
        //return false 开启该代码可禁止点击该按钮关闭
      }
      ,cancel: function(){
        //右上角关闭回调
      }
    });
}


/*
*提交编辑服务器的数据
*/
$('#edit_server').find("button[name='save']").click(function () {
    var id = $('#edit_server').find("input[name='id']").val();
    var ip = $('#edit_server').find("input[name='ip']").val();
    var desc = $('#edit_server').find("textarea[name='desc']").val();
    var url = '/cmdb/edit_server/';
    var data = {'id':id, 'ip':ip, 'desc':desc};
    var index = layer.load();
    $.post(url, data, function (msg) {
        var _msg = $.parseJSON(msg);
        layer.close(index);
        layer.msg(_msg);
        $('#table').bootstrapTable('refresh');
    });
});


/*
*ajax get callback
*/
function ajax_callback1(msg){
    var index = layer.alert(msg, {
        skin: 'layui-layer-molv' //样式类名
    },function(){
       layer.close(index)
    });
}
</script>
{% endblock %}