{% extends 'base.html' %}
{% load ygol_filter_tag %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}


.NoNewline
{
word-break: keep-all;/*必须*/
white-space: nowrap;
}


.ace_editor.fullScreen {
    height: auto !important;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.fullScreen {
    overflow: hidden
}

.editor {
    margin: 0;
    position: relative;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.oneline {
    width:100px;
    overflow:hidden;
    white-space:nowrap;
    ext-overflow:ellipsis;
}

.pointer{
cursor:pointer;
}
</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="/static/template/css/chosen/chosen.min.css" rel="stylesheet"/>
{% endblock %}


{% block container %}
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
             <li><i class="fa fa-home"></i><a href="/"> Home</a></li>
             <li>作业平台</li>
             <li class="active">新建作业</li>
        </ul>
    </div><!--breadcrumb-->

	<div class="padding-md">
        <div class="row"><div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 control-label">作业名称</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" id="taskName" placeholder="name">
                            </div><!-- /.col -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" data-name="blockOrd1" data-type="runScript">
                            <div class="form-group alert alert-success">
                                <label for="inputEmail1" class="col-lg-2 control-label">步骤名称</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control input-sm" data-name="blockName">
                                </div><!-- /.col -->
                                <label for="inputEmail1" class="col-lg-2 control-label">执行脚本</label>
                                <div class="col-lg-3">
                                    <button type="button" data-name="blockUp" class="btn btn-info btn-xs">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button type="button" data-name="blockDown" class="btn btn-info btn-xs">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                    <button type="button" data-name="blockDelete" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                        <form class="form-horizontal alert alert-warning" data-name="ord1">
                            <div class="form-group">
                                <label for="scriptLabel" class="col-lg-2 control-label pointer">脚本</label>
                                <div class="col-lg-3">
                                    <select name="script" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                                <div class="col-lg-2 oneline pointer"><!-- 缩略脚本参数 -->
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="col-lg-2">
                                    <span></span>
                                    <span></span>
                                </div><!-- 缩略账号 -->
                                <div class="col-lg-3">
                                    <button type="button" data-name="ordUp" class="btn btn-default btn-xs">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button type="button" data-name="ordDown" class="btn btn-default btn-xs">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                    <button type="button" data-name="ordDelete" class="btn btn-default btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="account" class="col-lg-2 control-label">执行账户</label>
                                <div class="col-lg-10">
									<select name="account" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">目标机器</label>
                                <div class="col-lg-10">
									<button type="button" data-name="add_server" class="btn btn-success btn-sm">选择服务器</button>
                                    <button type="button" data-name="delete" class="btn btn-success btn-sm">删除</button>
                                    <div class="table-responsive" id="table_selected_div">
                                        <table class="table table-hover table-bordered NoNewline" data-name="table_selected"></table>
                                    </div><!-- /.padding-md -->
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本内容</label>
                                <div class="col-lg-10">
                                    <label class="label-radio inline">
										<input type="radio" name="script_type" value="1" checked="checked">
										<span class="custom-radio"></span>
										shell
									</label>
									<label class="label-radio inline">
										<input type="radio" name="script_type" value="4">
										<span class="custom-radio"></span>
										python
									</label>
                                    <select class="form-inline" name="font"></select>
                                    <label class="label-radio inline">
										字体
									</label>
                                    <label class="label-radio inline">
										ESC键退出全屏
									</label>
                                    <button type="button" name="fullScreen" class="btn btn-default btn-xs">
                                        <i class="fa fa-crosshairs"></i> 全屏
                                    </button>
                                    <pre id="editor1" class="editor"></pre>
								</div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本参数</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" data-name="scriptParam" placeholder="para">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">超时时间</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" data-name="scriptTimeout" placeholder="para" value="1000">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-offset-1 col-lg-2">
                                    <button type="button" data-name="addOrd" class="btn btn-default btn-sm">
                                        <i class="fa fa-plus"></i> 新增节点
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-offset-1 col-lg-2">
                                    <div class="btn-group">
                                        <button class="btn btn-info" type="button"><i class="fa fa-plus"></i> 新增步骤</button>
                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0)" id="addScriptBlockOrd">添加执行脚本</a></li>
                                            <li><a href="javascript:void(0)" id="addFileBlockOrd">添加传输文件</a></li>
                                        </ul>
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-lg-2">
                                    <button type="button" id="save" class="btn btn-primary btn-sm">
                                        <i class="fa fa-floppy-o"></i> SAVE
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
	</div><!-- /padding-md -->
</div><!-- /main-container -->

{% include 'job/taskTemplate.html' %}

{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src='/static/template/js/chosen.jquery.min.js'></script>
<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/plugins/ace/ext-themelist.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/lol.js" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
  // 在这里写你的代码...
  $("#para").mouseenter(function(){
    var text = $(this).children().text();
    //tips层-上
    layer.tips(text, $(this), {
      tips: [1, '#0FA6D8'] //还可配置颜色
    });
  });
    $("#para").mouseleave(function(){
        layer.closeAll()
  });
});


/**
 * 等待页面所有图片、js文件加载完再执行，否则ace执行失败
 */
$(window).load(function() {
    initFont($('#main-container').find("select[name='font']"));
    init_account($('#main-container').find("select[name='account']"));
    initEditorAction($('#main-container').find("pre[id^='editor']"));
    init_script($('#main-container').find("select[name='script']"));
    initTableSelected($('#main-container').find("table[data-name='table_selected']"));
    initAddOrd();
    ordUp();
    ordDown();
    blockUp();
    blockDown();
    ordDelete();
    blockDelete();
    addFileBlockOrd();
    addScriptBlockOrd();
    selectScript();
});


/**
 * save new task
 */
$('#save').click(function () {
    var data = getPageTaskData();
    var jData = JSON.stringify(data);
    var url = '/job/saveNewTask/';
    $.ajax({
       type: "POST",
       url: url,
       data: {'data': jData},
       success: function(jres){
            var res =$.parseJSON(jres);
            if (res.status == 1){
                var errorMsg = res.msg.join('<br>');
                ajax_callback1(errorMsg);
            }
            else{
               var url = '/job/jobList/';
               ajax_callback1(res.msg, url, true);
            }
       }
    });
});
</script>
{% endblock %}