{% extends 'base.html' %}
{% load ygol_filter_tag %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}


.NoNewline
{
word-break: keep-all;/*必须*/
white-space: nowrap;
}


.ace_editor.fullScreen {
    height: auto !important;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.fullScreen {
    overflow: hidden
}

#editor {
    margin: 0;
    position: relative;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="/static/template/css/chosen/chosen.min.css" rel="stylesheet"/>
{% endblock %}


{% block container %}
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
             <li><i class="fa fa-home"></i><a href="/"> Home</a></li>
             <li>作业平台</li>
             <li class="active">快速执行脚本</li>
        </ul>
    </div><!--breadcrumb-->

	<div class="padding-md">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 control-label">脚本</label>
                                <div class="col-lg-10">
                                    <select name="script" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">执行账户</label>
                                <div class="col-lg-10">
									<select data-name="account" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">目标机器</label>
                                <div class="col-lg-10">
									<button type="button" id="add_server" class="btn btn-success btn-sm">选择服务器</button>
                                    <button type="button" id="delete" class="btn btn-success btn-sm">删除</button>
                                    <div class="table-responsive" id="table_selected_div">
                                        <table class="table table-hover table-bordered NoNewline" data-name="table_selected"></table>
                                    </div><!-- /.padding-md -->
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本内容</label>
                                <div class="col-lg-10">
                                    <label class="label-radio inline">
										<input type="radio" name="script_type" value="1" checked="checked">
										<span class="custom-radio"></span>
										shell
									</label>
									<label class="label-radio inline">
										<input type="radio" name="script_type" value="4">
										<span class="custom-radio"></span>
										python
									</label>
                                    <select class="form-inline" data-name="font"></select>
                                    <label class="label-radio inline">
										字体
									</label>
                                    <label class="label-radio inline">
										ESC键退出全屏
									</label>
                                    <button type="button" name="fullScreen" class="btn btn-default btn-xs">
                                        <i class="fa fa-crosshairs"></i> 全屏
                                    </button>
                                    <pre id="editor"></pre>
								</div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本参数</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="scriptParam" placeholder="para">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">超时时间</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="scriptTimeout" placeholder="para" value="1000">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="button" id="run_script" class="btn btn-success btn-sm">run</button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
	</div><!-- /padding-md -->
</div><!-- /main-container -->
<div class="table-responsive hide" id="table_choice_div">
    <table class="table table-hover table-bordered NoNewline" id="table_choice"></table>
</div><!-- /.padding-md -->

{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src='/static/template/js/chosen.jquery.min.js'></script>
<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/plugins/ace/ext-themelist.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/lol.js" type="text/javascript" charset="utf-8"></script>
<script>
/**
 * 等待页面所有图片、js文件加载完再执行，否则ace执行失败
 */
$(window).load(function() {
    initFont($('#main-container').find("select[data-name='font']"));
    init_account($('#main-container').find("select[data-name='account']"));
    initEditorAction($('#editor'));
    init_script($('#main-container').find("select[name='script']"));
    var $tableSelected = $('#main-container').find("table[data-name='table_selected']");
    initTableSelected($tableSelected);
    selectScript();
});


/**
 * 运行脚本
 */
$('#run_script').click(function () {
    var data = get_data();
    console.log(data)
    var jdata = JSON.stringify(data);
    var url = '/job/run_script/';
    var index = layer.load();
    $.post(url, {'data': jdata}, function (res) {
        var _data = $.parseJSON(res);
        var msg = '';
        if (_data.status==1){
            msg = _data.msg.join('<br>');
        }
        else if (_data.status == 0){
            msg = _data.msg.join('<br>');
        }
        else{
            msg = '执行异常';
        }
        ajax_callback1(msg);
        layer.close(index);
    });
});


function get_data() {
    var script_id = $('#main-container').find("select[name='script']").val();
    var account = $('#main-container').find("select[data-name='account']").val();
    var $tableSeleted = $('#main-container').find("table[data-name='table_selected']");
    var server_data = $tableSeleted.bootstrapTable('getData');
    var editor = ace.edit('editor');
    var content = editor.getValue();
    var scriptParam = $('#scriptParam').val();
    var scriptTimeout = $('#scriptTimeout').val();
    var script_type = $("input:radio[name='script_type']:checked").val();

    var ipList = [];
    $.each(server_data, function (k, v) {
       ipList.push(v.ip)
    });
    var data = {
        'script_id': script_id,
        'account': account,
        'content': content,
        'ipList': ipList,
        'scriptParam': scriptParam,
        'scriptTimeout': scriptTimeout,
        'script_type': script_type
    };
    return data
}


/**
 * 添加服务器到已选表格里
 */
function add() {
    var $tableSeleted = $('#main-container').find("table[data-name='table_selected']");
    var choice_data = $('#table_choice').bootstrapTable('getSelections');
    var selected_data = $tableSeleted.bootstrapTable('getData');
    var selected_id = [];
    $.each(selected_data, function (sk, selected_v) {
        selected_id.push(selected_v.id);
    });
    $.each(choice_data, function (k, choice_v) {
        if (selected_id.indexOf(choice_v.id) == -1){
            $tableSeleted.bootstrapTable('append', choice_v);
        }
    });
}


/**
 * 新增
 */
$('#add_server').click(function () {
    init_server_choice();
     $('#table_choice_div').removeClass('hide');
    //页面层
    layer.open({
      type: 1,
      skin: 'layui-layer-rim', //加上边框
      area: ['820px', '540px'], //宽高
      content: $('#table_choice_div')
      ,btn: ['add', 'close']
  ,yes: function(index1, layero){
        add(); //新增
        layer.close(index1);
  }
  ,btn2: function(index, layero){
    //return false 开启该代码可禁止点击该按钮关闭
  }
  ,cancel: function(){
    //右上角关闭回调
  }
    });
});


/*
*删除
*/
$('#delete').click(function () {
    var $tableSeleted = $('#main-container').find("table[data-name='table_selected']");
    var data = $tableSeleted.bootstrapTable('getSelections');
    $.each(data, function (sk, v) {
        $tableSeleted.bootstrapTable('removeByUniqueId', v.id);
    });
});


/*
*ajax get callback
*/
function ajax_callback1(msg){
    var index = layer.alert(msg, {
        skin: 'layui-layer-molv' //样式类名
    },function(){
       layer.close(index)
    });
}
</script>
{% endblock %}