{% extends 'base.html' %}
{% load ygol_filter_tag %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}


.NoNewline
{
word-break: keep-all;/*必须*/
white-space: nowrap;
}


.ace_editor.fullScreen {
    height: auto !important;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.fullScreen {
    overflow: hidden
}

#editor {
    margin: 0;
    position: relative;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="/static/template/css/chosen/chosen.min.css" rel="stylesheet"/>
{% endblock %}


{% block container %}
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
             <li><i class="fa fa-home"></i><a href="/"> Home</a></li>
             <li>作业平台</li>
             <li class="active">快速执行脚本</li>
        </ul>
    </div><!--breadcrumb-->

	<div class="padding-md">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 control-label">脚本名称</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control input-sm" id="script_name" placeholder="name">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">执行账户</label>
                                <div class="col-lg-10">
									<select id="account" class="form-control chzn-select"></select>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">目标机器</label>
                                <div class="col-lg-10">
									<button type="button" id="add_server" class="btn btn-success btn-sm">选择服务器</button>
                                    <button type="button" id="delete" class="btn btn-success btn-sm">删除</button>
                                    <div class="table-responsive" id="table_selected_div">
                                        <table class="table table-hover table-bordered NoNewline" id="table_selected"></table>
                                    </div><!-- /.padding-md -->
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本内容</label>
                                <div class="col-lg-10">
                                    <label class="label-radio inline">
										<input type="radio" name="script_type" value="shell" checked="checked">
										<span class="custom-radio"></span>
										shell
									</label>
									<label class="label-radio inline">
										<input type="radio" name="script_type" value="python">
										<span class="custom-radio"></span>
										python
									</label>
                                    <select class="form-inline" id="font"></select>
                                    <label class="label-radio inline">
										字体
									</label>
                                    <label class="label-radio inline">
										F11全屏切换(光标放在文本框里)
									</label>
                                    <pre id="editor"></pre>
								</div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-2 control-label">脚本参数</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-sm" id="scriptParam" placeholder="para">
                            </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="button" id="run_script" class="btn btn-success btn-sm">run</button>
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
	</div><!-- /padding-md -->
</div><!-- /main-container -->
<div class="table-responsive hide" id="table_choice_div">
    <table class="table table-hover table-bordered NoNewline" id="table_choice"></table>
</div><!-- /.padding-md -->

{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src='/static/template/js/chosen.jquery.min.js'></script>
<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/plugins/ace/ext-themelist.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
  // 在这里写你的代码...
    init_font();
    init_account();
});
var shell_tmp = function () {/*
#!/bin/bash

anynowtime="date +'%Y-%m-%d %H:%M:%S'"
NOW="echo [\`$anynowtime\`][PID:$$]"

#####可在脚本开始运行时调用，打印当时的时间戳及PID。
function job_start
{
    echo "`eval $NOW` job_start"
}

#####可在脚本执行成功的逻辑分支处调用，打印当时的时间戳及PID。
function job_success
{
    MSG="$*"
    echo "`eval $NOW` job_success:[$MSG]"
    exit 0
}

#####可在脚本执行失败的逻辑分支处调用，打印当时的时间戳及PID。
function job_fail
{
    MSG="$*"
    echo "`eval $NOW` job_fail:[$MSG]"
    exit 1
}

job_start

######可在此处开始编写您的脚本逻辑代码
######作业平台中执行脚本成功和失败的标准只取决于脚本最后一条执行语句的返回值
######如果返回值为0，则认为此脚本执行成功，如果非0，则认为脚本执行失败

*/};

var python_tmp = function () {/*
#!/usr/bin/env python
# -*- coding: utf8 -*-

import datetime
import os
import sys

def _now(format="%Y-%m-%d %H:%M:%S"):
    return datetime.datetime.now().strftime(format)

#####可在脚本开始运行时调用，打印当时的时间戳及PID。
def job_start():
    print "[%s][PID:%s] job_start" % (_now(), os.getpid())

#####可在脚本执行成功的逻辑分支处调用，打印当时的时间戳及PID。
def job_success(msg):
    print "[%s][PID:%s] job_success:[%s]" % (_now(), os.getpid(), msg)
    sys.exit(0)

#####可在脚本执行失败的逻辑分支处调用，打印当时的时间戳及PID。
def job_fail(msg):
    print "[%s][PID:%s] job_fail:[%s]" % (_now(), os.getpid(), msg)
    sys.exit(1)

if __name__ == '__main__':

    job_start()

######可在此处开始编写您的脚本逻辑代码
######iJobs中执行脚本成功和失败的标准只取决于脚本最后一条执行语句的返回值
######如果返回值为0，则认为此脚本执行成功，如果非0，则认为脚本执行失败

*/};

//定义一个实现多行字符串的函数multiline
var multiline = function (fn) {
    var str = fn.toString().split('\n');
    return str.slice(1, str.length - 1 ).join('\n');
};


/*
*等待页面所有图片、js文件加载完再执行，否则ace执行失败
*/
$(window).load(function() {
    var dom = require("ace/lib/dom");

    //add command to all new editor instaces
    require("ace/commands/default_commands").commands.push({
        name: "Toggle Fullscreen",
        bindKey: "F11",
        exec: function(editor) {
            var fullScreen = dom.toggleCssClass(document.body, "fullScreen");
            dom.setCssClass(editor.container, "fullScreen", fullScreen);
            editor.setAutoScrollEditorIntoView(!fullScreen);
            editor.resize()
        }
    });

    // create first editor
    editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/sh");
    editor.renderer.setScrollMargin(10, 10);
    editor.setOptions({
        // "scrollPastEnd": 0.8,
        autoScrollEditorIntoView: true
    });
    //设置字体
    document.getElementById('editor').style.fontSize='18px';
    //语法补全
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
    //默认shell
    editor.setValue(multiline(shell_tmp));
    editor.gotoLine(1);
});


/*
*初始化字体选择项
*/
function init_font() {
    for (var i=12;i<23;i++)
    {
        var cont = "<option value='"+ i +"'>"+ i +"</option>";
        $('#font').append(cont);
    }
    $('#font').val('18');
}
$('#font').change(function () {
    var font_val = $(this).val() + 'px';
    document.getElementById('editor').style.fontSize=font_val;
    console.log($(this).val())
});


/*
*初始化账户
*/
function init_account() {
    var url = '/business/get_account/';
    var index = layer.load();
    $.post(url, function (data) {
        var _data = $.parseJSON(data);
        var cont0 = "<option value=''>请选择</option>";
        $('#account').append(cont0);
        $.each(_data, function (k,v) {
            var cont = "<option value='"+ v.name +"'>"+ v.name + " " + v.desc +"</option>";
            $('#account').append(cont);
        });
        $("#account").chosen();
        layer.close(index);
    });
}


/*
*初始化机器
*/
function init_server() {
{#    var url = '/cmdb/get_index/';#}
{#    var index = layer.load();#}
{#    $.post(url, function (data) {#}
{#        var _data = $.parseJSON(data);#}
{#        var cont0 = "<option value=''>请选择</option>";#}
{#        $('#server').append(cont0);#}
{#        $.each(_data, function (k,v) {#}
{#            var cont = "<option value='"+ v.id +"'>"+ v.ip + " " + v.desc +"</option>";#}
{#            $('#server').append(cont);#}
{#        });#}
{#        $("#server").chosen();#}
{#        layer.close(index);#}
{#    });#}
}

$('#run_script').click(function () {
    var data = get_data();
    var jdata = JSON.stringify(data);
    var url = '/job/run_script/';
{#    var index = layer.load();#}
    $.post(url, {'data': jdata}, function (res) {
        var _data = $.parseJSON(res);
        if (_data.status==1){
            var msg = _data.msg.join('<br>');
            ajax_callback1(msg);
        }
        layer.close(index);
    });
});

function get_data() {
    var script_name = $('#script_name').val();
    var account = $('#account').val();
    var server_data = $('#table_selected').bootstrapTable('getData');
    var content = editor.getValue();
    var scriptParam = $('#scriptParam').val();
    var script_type = $("input:radio[name='script_type']:checked").val();

    var ipList = [];
    $.each(server_data, function (k, v) {
       ipList.push(v.ip)
    });
    var data = {
        'script_name': script_name,
        'account': account,
        'content': content,
        'ipList': ipList,
        'scriptParam': scriptParam,
        'script_type': script_type
    };
    return data
}


/*
*脚本类型、模板选择
*/
$("input:radio[name='script_type']").click(function () {
    var val = $(this).val();
    if (val=='shell'){
        editor.setValue(multiline(shell_tmp));
        editor.session.setMode("ace/mode/sh");
    }
   else {
        editor.setValue(multiline(python_tmp));
        editor.session.setMode("ace/mode/python");
    }
    editor.gotoLine(1);
});


//得到查询的参数
function queryParams(params) {
    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        limit: params.limit,   //页面大小
        offset: params.offset,  //页码
        order: params.order,  //排序
        time: $('#time').val(),
        orderNum: $('#orderNum').val(),
        createTime_start: $('#createTime_start').val(),
        createTime_end: $('#createTime_end').val(),
        database: "ygproperty",
    };
    return temp;
}


/*
*初始化服务器选择表格
*/
function init_server_choice() {
    $('#table_choice').bootstrapTable({
        url: '/cmdb/get_index/',
        pagination: true,                   //是否显示分页（*）
        sortable: false,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        showColumns: true,
        showRefresh: true,
        clickToSelect: true,
        uniqueId: "id",
        queryParams: queryParams,           //传递参数（*）
        sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
        search: true,                  //是否显示搜索 --前端搜索
        columns:get_columns()
    });
}




/*
*将已选的服务器添加到已选表格
*/
$('#table_selected').bootstrapTable({
    pagination: true,                   //是否显示分页（*）
    sortable: false,                     //是否启用排序
    sortOrder: "asc",                   //排序方式
    showColumns: true,
    showRefresh: true,
    clickToSelect: true,
    uniqueId: "id",
    queryParams: queryParams,           //传递参数（*）
    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
    pageNumber: 1,                       //初始化加载第一页，默认第一页
    pageSize: 5,                       //每页的记录行数（*）
    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
    search: true,                  //是否显示搜索 --前端搜索
    columns:get_columns()
});



/*
*获取bootstraptable 的列columns
*/
function get_columns() {
    var columns =[{
         field: 'checkbox',
         checkbox: true
    },{
        title: '序号',//标题  可不加
        formatter: function (value, row, index) {
            return index+1;
            }
    }, {
        field: 'id',
        title: 'ID',
        visible: false
    }, {
        field: 'ip',
        title: '服务器IP地址'
    }, {
        field: 'desc',
        title: '描述'
    }, {
        field: 'creater',
        title: '创建人'
    }, {
        field: 'createTime',
        title: '创建时间'
    }, {
        field: 'ModifyUser',
        title: '修改人'
    }, {
        field: 'ModifyTime',
        title: '修改时间'
    }];
    return columns
}




/*
*添加服务器到已选表格里
*/
function add() {
    var choice_data = $('#table_choice').bootstrapTable('getSelections');
    var selected_data = $('#table_selected').bootstrapTable('getData');
    var selected_id = [];
    $.each(selected_data, function (sk, selected_v) {
        selected_id.push(selected_v.id);
    });
    $.each(choice_data, function (k, choice_v) {
        if (selected_id.indexOf(choice_v.id) == -1){
            $('#table_selected').bootstrapTable('append', choice_v);
        }
    });
}


/*
*新增
*/
$('#add_server').click(function () {
    init_server_choice();
     $('#table_choice_div').removeClass('hide');
    //页面层
    layer.open({
      type: 1,
      skin: 'layui-layer-rim', //加上边框
      area: ['820px', '540px'], //宽高
      content: $('#table_choice_div')
      ,btn: ['add', 'close']
  ,yes: function(index1, layero){
        add(); //新增
        layer.close(index1);
  }
  ,btn2: function(index, layero){
    //return false 开启该代码可禁止点击该按钮关闭
  }
  ,cancel: function(){
    //右上角关闭回调
  }
    });
});




/*
*脚本类型、模板选择
*/
$("input:radio[name='server']").click(function () {
    var val = $(this).val();
    if (val=='show_all'){
        $('#table_selected').bootstrapTable('getRowsHidden',{show:true});
    }

   else if (val=='no_selected') {
        var data = $('#table_selected').bootstrapTable('getSelections');
        $.each(data,function (k,v) {
            $('#table_selected').bootstrapTable('hideRow', {uniqueId: v.id})
        });

    }
    else {
        var all_data = $('#table_selected').bootstrapTable('getData');
        $.each(all_data,function (k,v) {
            $('#table_selected').bootstrapTable('hideRow', {uniqueId: v.id})
        });
    }
});


/*
*删除
*/
$('#delete').click(function () {
    var data = $('#table_selected').bootstrapTable('getSelections');
    $.each(data, function (sk, v) {
        $('#table_selected').bootstrapTable('removeByUniqueId', v.id);
    });
});


/*
*提交编辑的数据
*/
function post_edit() {
    var id = $('#add_account').find("input[name='id']").val();
    var name = $('#add_account').find("input[name='name']").val();
    var desc = $('#add_account').find("textarea[name='desc']").val();
    var url = '/business/edit_account/';
    var data = {'id': id, 'name':name, 'desc':desc};
    var index = layer.load();
    $.post(url, data, function (msg) {
        var _msg = $.parseJSON(msg);
        layer.close(index);
        layer.msg(_msg);
        $('#table').bootstrapTable('refresh');
    });
}


/*
*编辑服务器
*/
function edit(id,name,desc) {
    $('#add_account').find("input[name='id']").val(id);
    $('#add_account').find("input[name='name']").val(name);
    $('#add_account').find("textarea[name='desc']").val(desc);
    $('#add_account').removeClass('hide');
    //页面层
    layer.open({
      type: 1,
      skin: 'layui-layer-rim', //加上边框
      area: ['420px', '240px'], //宽高
      content: $('#add_account')
      ,btn: ['save', 'close']
      ,yes: function(index1, layero){
            post_edit(); //编辑
            layer.close(index1);
      }
      ,btn2: function(index, layero){
        //return false 开启该代码可禁止点击该按钮关闭
      }
      ,cancel: function(){
        //右上角关闭回调
      }
    });
}


/*
*提交编辑服务器的数据
*/
$('#edit_server').find("button[name='save']").click(function () {
    var id = $('#edit_server').find("input[name='id']").val();
    var ip = $('#edit_server').find("input[name='ip']").val();
    var desc = $('#edit_server').find("textarea[name='desc']").val();
    var url = '/cmdb/edit_server/';
    var data = {'id':id, 'ip':ip, 'desc':desc};
    var index = layer.load();
    $.post(url, data, function (msg) {
        var _msg = $.parseJSON(msg);
        layer.close(index);
        layer.msg(_msg);
        $('#table').bootstrapTable('refresh');
    });
});


/*
*ajax get callback
*/
function ajax_callback1(msg){
    var index = layer.alert(msg, {
        skin: 'layui-layer-molv' //样式类名
    },function(){
       layer.close(index)
    });
}
</script>
{% endblock %}