{% extends 'base.html' %}
{% load ygol_filter_tag %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}


.NoNewline
{
word-break: keep-all;/*必须*/
white-space: nowrap;
}


.ace_editor.fullScreen {
    height: auto !important;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.fullScreen {
    overflow: hidden
}

.editor {
    margin: 0;
    position: relative;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.oneline {
    width:100px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.pointer{
cursor:pointer;
}
</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="/static/template/css/chosen/chosen.min.css" rel="stylesheet"/>
    <link href="/static/plugins/guide-step/jquery-step/css/jquery.step.css" rel="stylesheet"/>
    <link href="/static/plugins/guide-step/css/step.css" rel="stylesheet"/>
{% endblock %}


{% block container %}
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
             <li><i class="fa fa-home"></i><a href="/"> Home</a></li>
             <li>作业执行历史</li>
             <li class="active">作业实例</li>
        </ul>
    </div><!--breadcrumb-->

    <div class="padding-md">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <strong>作业名称：</strong><span id="taskName">123</span>
                                </div>
                                <div class="col-md-3">
                                    <strong>执行结果：</strong><span id="taskStatus">123</span>
                                </div>
                                <div class="col-md-3">
                                    <strong>启动人：</strong><span id="operator">123</span>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <strong>开始时间：</strong><span id="startTime">123</span>
                                </div>
                                <div class="col-md-3">
                                    <strong>结束时间：</strong><span id="endTime">123</span>
                                </div>
                                <div class="col-md-3">
                                    <strong>总耗时 (s)：</strong><span id="totalTime">123</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="step-body" id="myStep">

                        <div class="step-content">
                            <div class="step-list">
                                <div class="page-panel-title">
                                        <h3 class="page-panel-title-left">作业步骤</h3>
                                </div>
                                <div class="intro-flow">
                                    <div class="intro-list">
                                        <div class="intro-list-right">
                                            <span>1</span>

                                            <div class="intro-list-content">
                                                <div class="panel-heading">
                                                    步骤名称：停止服务
                                                </div>
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Task</th>
                                                            <th>Progress</th>
                                                            <th></th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Bug Fixes</td>
                                                            <td>
                                                                <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                                                    <div class="progress-bar" style="width: 45%">
                                                                        <span class="sr-only">45% Complete</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>45%</td>
                                                            <td><span class="badge badge-warning">2hr</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mobile Development</td>
                                                            <td>
                                                                <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                                                    <div class="progress-bar progress-bar-success" style="width: 61%">
                                                                        <span class="sr-only">61% Complete</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>61%</td>
                                                            <td><span class="badge badge-warning">1hr</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Unit Tesing</td>
                                                            <td>
                                                                <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                                                    <div class="progress-bar progress-bar-danger" style="width: 97%">
                                                                        <span class="sr-only">97% Complete</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>97%</td>
                                                            <td><span class="badge badge-warning">5m</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>New Frontend Layout</td>
                                                            <td>
                                                                <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                                                    <div class="progress-bar progress-bar-warning" style="width: 18%">
                                                                        <span class="sr-only">18% Complete</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>18%</td>
                                                            <td><span class="badge badge-warning">12hr</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="intro-list intro-list-active">
                                        <div class="intro-list-right">
                                            <span>2</span>
                                            <div class="intro-list-content">
                                                根据实际现场堪察内容补充。
                                            </div>
                                        </div>
                                    </div>

                                    <div class="intro-list">
                                        <div class="intro-list-right">
                                            <span>3</span>
                                            <div class="intro-list-content">
                                                我局将就电网对您业务是否具备供电能力进行勘察，并向您回复相关情况。
                                            </div>
                                        </div>
                                    </div>

                                    <div class="intro-list">
                                        <div class="intro-list-right">
                                            <span>4</span>
                                            <div class="intro-list-content">
                                                我局将对受电工程进行竣工检验。
                                            </div>
                                        </div>
                                    </div>

                                    <div class="intro-list intro-list-active">
                                        <div class="intro-list-right">
                                            <span>4</span>
                                            <div class="intro-list-content">
                                                我局将与您预约上门签订供用电合同、装表接电的事宜，请保持电话申能并留意接收。为保障双方的合法权益，请业主在场签约（盖章）
                                            </div>
                                        </div>
                                    </div>

                                    <div class="intro-list">
                                        <div class="intro-list-right">
                                            <span>4</span>
                                            <div class="intro-list-content">
                                                您可以享受到安全可靠的电源 了。请在网厅进行注册，并绑定您的用户编号，以后您可以便捷地使用电费查询、电费缴纳、账单订阅等服务。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-btn">
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
	</div><!-- /padding-md -->
</div><!-- /main-container -->

{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src='/static/template/js/chosen.jquery.min.js'></script>
<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/plugins/ace/ext-themelist.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/lol.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/guide-step/jquery-step/js/jquery.step.js" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
    // 在这里写你的代码...
    var step= $("#myStep").step({
        animate:true,
        initStep:1,
        speed:1000
    });
    loadTaskInstance();
});



/**
 * save new task
 */
function loadTaskInstance() {
    var curl = window.location.href.split('/');
    var taskInstanceId = curl[curl.length - 2];
    var data = {'taskInstanceId': taskInstanceId};
    var url = '/log_record/get_task_instance/';
    $.ajax({
        type: "POST",
        url: url,
        data: data,
        success: function (jres) {
            var res = $.parseJSON(jres);
            console.log(res)
{% comment %}            if (res.status == 1) {
                var errorMsg = res.msg.join('<br>');
                ajax_callback1(errorMsg);
            }
            else {
                var url = '/job/jobList/';
                ajax_callback1(res.msg, url, true);
            }{% endcomment %}
        }
    })
}
</script>
{% endblock %}