{% extends 'base.html' %}
{% load ygol_filter_tag %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}
</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="/static/template/css/chosen/chosen.min.css" rel="stylesheet"/>
{% endblock %}


{% block container %}
<div id="main-container">
	<div class="main-header clearfix">
		<div class="page-title">
			<h3 class="no-margin">购买异常订单</h3>
		</div><!-- /page-title -->
	</div><!-- /main-header -->

	<div class="padding-md">
		<div class="panel panel-default">
                <table class="table-condensed" id="search_tb">
                    <tr>
                        <td><label>时间</label></td>
                        <td>
    						<select id="time" name="time" class="form-control">
                                {% for t in ptimes %}
                                    <option value="{{ t.time|date:"Y-m-d H:i:s" }}">{{ t.time|date:"Y-m-d H:i:s" }} {{t.number}}条记录</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>

				<div class="form-inline">
					<button id="search" class="btn btn-sm btn-success">搜索</button>
				</div>
            <div class="text-center">
                <table class="table table-hover table-bordered table-responsive" id="table"></table>
			</div><!-- /.padding-md -->
		</div><!-- /panel -->
	</div><!-- /padding-md -->
</div><!-- /main-container -->
{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src='/static/template/js/chosen.jquery.min.js'></script>
<script>
/*
*设置搜索初始值
*/
console.log("{{time|date:'Y-m-d H:i:s'}}")

$('#time').val("{{time|date:'Y-m-d H:i:s'}}"); //时间

/*
*初始化表格
*/
$('#time').chosen();


/*
*删除机器信息
*/
$("table tbody tr td button[id^='caifu_delete']").click(function(){
	var id_val = $(this).attr('id');
	var id = id_val.split('_')[2];
    var data = {"id":id};
    data = JSON.stringify(data);
    var url = "/people/caifu_delete/";

	var index = layer.confirm('确定删除吗？', {
	  btn: ['确定','取消'] //按钮
	}, function(){
		$.post(url,{data:data},function(msg){
			ajax_callback(msg);
		 });
	}, function(){
	  layer.close(index)
	});
});


//得到查询的参数
function queryParams(params) {
    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        limit: params.limit,   //页面大小
        offset: params.offset,  //页码
        time: $('#time').val(),
    };
    return temp;
}


/*
*ajax get callback
*/
$('#table').bootstrapTable({
    url: '/monitor/get_pao/',
    pagination: true,                   //是否显示分页（*）
    sortable: false,                     //是否启用排序
    sortOrder: "asc",                   //排序方式
    queryParams: queryParams,//传递参数（*）
    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
    pageNumber:1,                       //初始化加载第一页，默认第一页
    pageSize: 1,                       //每页的记录行数（*）
    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
    showRefresh: true,                  //是否显示刷新按钮
    columns: [{
        field: 'user_id',
        title: 'user_id'
    }, {
        field: 'change_amount',
        title: 'change_amount'
    }, {
        field: 'coupon_id',
        title: 'coupon_id'
    }, {
        field: 'actual_pay',
        title: 'actual_pay'
    }, {
        field: 'amount',
        title: 'amount'
    }, {
        field: 'interest',
        title: 'interest'
    }, {
        field: 'add_interest',
        title: 'add_interest'
    }, {
        field: 'plan_id',
        title: 'plan_id'
    }, {
        field: 'order_id',
        title: 'order_id'
    }, {
        field: 'plan_type',
        title: 'plan_type'
    }, {
        field: 'sub_plan_type',
        title: 'sub_plan_type'
    } ]
});

$('#search').click(function(){
    $('#table').bootstrapTable('refresh')
})
</script>
{% endblock %}