[client]
#password       = [your_password]
#port            = 3307
#socket          = /tmp/mysql.sock

# *** Application-specific options follow here ***

#
# The MySQL server
#
[mysqld]

# generic configuration options
#port 根据实际需求填写，不冲突即可
# port port           = 3307
socket          = /tmp/mysql.sock
skip-external-locking
# key_buffer = 1024M
#innodb_buffer_pool_size 可以设置物理内存的70%
innodb_buffer_pool_size = 15G
max_allowed_packet = 64M
#table_cache = 1024
character-set-server = utf8
sort_buffer_size = 8M
read_buffer_size = 8M
read_rnd_buffer_size = 32M
myisam_sort_buffer_size = 364M
myisam_max_sort_file_size = 512M
thread_cache_size = 64
query_cache_size= 256M
query_cache_type=1
query_cache_limit=2M
#thread_concurrency = 16
max_connections=4000
max_connect_errors=4000
max_heap_table_size = 32M
tmp_table_size = 32M
ft_min_word_len=1
ft_stopword_file=
delay_key_write=ALL
tmp_table_size=400M
tmpdir  = /tmp/
skip-name-resolve
wait_timeout = 2000
interactive_timeout = 2000
binlog_format=MIXED
log_slave_updates

server-id = 1
log-error=mysql-error.log
pid-file=mysql-master.pid
#datadir = /data/mysql/data/

#log-bin=/data/mysql/log/mysql-bin
#log-bin-index=/data/mysql/log/mysql-master-bin.index
log_bin_trust_function_creators=1

log_slave_updates
#expire_logs_days=3

relay-log=mysql-master.log
slow_query_log_file=slowquery.log
#log-slow-queries=/data/mysql/log/slowquery.log
long_query_time=1


[mysqldump]
quick
max_allowed_packet = 16M
[mysql]
no-auto-rehash
[isamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M
[myisamchk]
#key_buffer = 256M		#
key_buffer_size = 256M
sort_buffer_size = 256M
#read_buffer = 2M		#
read_buffer_size = 2M
#write_buffer = 2M		#
write_buffer_size = 2M
[mysqlhotcopy]
interactive-timeout
